$s__typing--text: 2.5rem;
$s__typing--line: $s__typing--text * 1.25;

.typing__container {
  width: 250%;
  font-size: 0;
  font-family: "Raleway";
  font-weight: 200;
  text-transform: uppercase;
  color: $blue;

  .typing__text {
    vertical-align: middle;
    margin-left: -6px;
    font-size: $s__typing--text;
    line-height: $s__typing--line;
    letter-spacing: 2rem;
    left: 2px;

    @media (max-width: 1200px) {
      margin-left: -5px;
      font-size: 3.5rem;
      line-height: 4.3rem;
      left: 0px;
    }

    @media (max-width: 1110px) {
      margin-left: -4px;
      font-size: 3rem;
      line-height: 3.75rem;
      letter-spacing: 1.5rem;
    }

    @media (max-width: 800px) {
      margin-left: -3px;
      font-size: 2.5rem;
      line-height: 3.125rem;
      letter-spacing: 1rem;
    }

    @media (max-width: 610px) {
      font-size: 2rem;
      line-height: 2.5rem;
      letter-spacing: 6px;
    }

    @media (max-width: 360px) {
      margin-left: -2px;
      font-size: 1.5rem;
    }
  }

  .typing__cursor {
    vertical-align: middle;
    font-size: $s__typing--line;
    line-height: $s__typing--line;

    @media (max-width: 1080px) {
      font-size: 3.5rem;
      line-height: 4.3rem;
    }

    @media (max-width: 950px) {
      font-size: 3rem;
      line-height: 3.75rem;
    }

    @media (max-width: 720px) {
      font-size: 2.5rem;
      line-height: 3.125rem;
      letter-spacing: 1rem;
    }

    @media (max-width: 500px) {
      font-size: 2rem;
      line-height: 2.5rem;
      letter-spacing: 0px;
    }
  }
}
