.events {
  .info {
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Raleway';
    font-weight: 400;
    text-align: center;
    line-height: 1.5em;
    padding: 0 2%;
  }
  
  .timeline {
    font-family: 'Raleway';
    border-left: 4px solid $blue;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4rem;
    font-size: 1.03rem;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 400;
    max-width: 50%;
    left: 5%;

    .event {
      border-bottom: 1px dashed $blue;
      padding-bottom: (50px * 0.5);
      margin-bottom: 50px;
      margin-right: -50px;
      position: relative;

      @media (max-width: 800px) {
        margin-right: -24px;
      }

      .hidden__date {
        display: none;
      }

      b {
        color: $blue;
      }

      &:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
      }

      &:before, &:after {
        position: absolute;
        display: block;
        top: 0;
      }

      &:before {
        left: (((150 * 0.6) + 50px + 4px + 11px + (4px * 2)) * 1.5) * -1;
        color: $black;
        content: attr(data-date);
        text-align: right;
        font-weight: 400;
        font-size: 1rem;
        min-width: 150;

        @media (max-width: 800px) {
          display: none;
        }
      }

      &:after {
        box-shadow: 0 0 0 4px fade($blue, 100%);
        left: (50px + 4px + (11px * 0.35)) * -1;
        background: lighten(#252827,5%);
        border-radius: 50%;
        height: 11px;
        width: 11px;
        content: "";
        top: 5px;
      }

      .button__wrapper {
        .info__button {
          margin-right: 15px;
          padding: 0.75rem 0.9rem;
          font-size: 1rem;
          line-height: 1;
          background: none;
          border: 2px solid $blue;
          border-radius: 4px;
          overflow: hidden;
          color: $blue;
          transition: color 0.2s ease-in;
          outline: none;
          user-select: none;
          text-transform: uppercase;
          -webkit-touch-callout: none;
          -webkit-tap-highlight-color: transparent;

          &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 105%;
            height: 105%;
            z-index: -1;
            background: $blue;
            transition: top 0.25s;
          }

          &:hover {
            cursor: pointer;
            color: $white;

            &::after {
              top: 0;
            }
          }

          @media (max-width: 500px) {
            font-size: 0.9rem;
            padding: 0.5rem 0.75rem;
            margin-bottom: 15px;
          }
        }
      }

      @media (max-width: 800px) {
        .hidden__date {
          display: block;
        }
      }
    }

    @media (max-width: 800px) {
      max-width: 90%;
      left: 0;
    }
  }
}
